.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  font-weight: bold;
  border-radius: var(--border-radius);
}

.button:hover {
  cursor: pointer;
}

.button__purple {
  background-color: var(--purple-100);
  color: var(--white);
}
